/*Home Tablet */
@media (max-width: 1000px) {
  .decorative-circle {
    display: none;
  }
}

/* Home and Contact Celulares */
@media (max-width: 500px) {
  h1, h2 {
    font-size: 5rem !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }
}

/* Home and Contact iPhone 5 y Galaxy Fold */
/* Service Celulares */
@media (max-width: 320px) {
  h1, h2 {
    font-size: 4rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1rem !important;
  }

  .decorative-circle {
    display: none;
  }

  .contact-text {
    padding-left: 0px !important;
  }

  .service-images {
    border-radius: 100%;
    height: 200px !important;
    padding-top: 3%;
  }
}

/* Contact Celulares */
@media (max-width: 660px) {
  .contact-circle {
    padding-left: 30px !important;
  }

  .contact-text {
    padding-left: 125px !important;
  }
}

@media (max-width: 630px) {
  .contact-circle {
    padding-left: 15px !important;
  }

  .contact-text {
    padding-left: 110px !important;
  }
}

@media (max-width: 590px) {
  .contact-circle {
    padding-left: 0 !important;
  }

  .contact-text {
    padding-left: 100px !important;
  }
}

@media (max-width: 540px) {
  .contact-text {
    padding-left: 18% !important;
  }

  .contact-circle {
    visibility: hidden;
  }

  .contact-square {
    background-color: white;
    opacity: 0.5;
  }
}

@media (max-width: 539px) {
  .contact-text {
    padding-left: 8% !important;
  }

  .contact-banner {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (max-width: 330px) {
  .contact-text {
    padding-left: 0 !important;
  }
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Poppins';
  font-size: 7rem;
  font-weight: 500;
  padding-top: 170px;
  padding-left: 10%;
  letter-spacing: 0.2rem;
}

h2 {
  font-family: 'Poppins';
  font-size: 6rem;
  font-weight: 500;
  padding-top: 30%;
  letter-spacing: 0.2rem;
}

h3 {
  font-family: 'Poppins';
  font-size: 2.1rem;
  font-weight: 500;
  padding-right: 13%;
  padding-left: 13%;
  padding-top: 8%;
  text-align: left;
}

h4 {
  font-family: 'Open Sans';
  font-size: 2rem;
  padding-left: 10%;
}

p {
  font-family: 'Open Sans';
  font-size: 1.1rem;
  padding-right: 13%;
  padding-left: 13%;
  padding-top: 5%;
  text-align: justify;
}

.home-banner {
  background: url('home-image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
}

.decorative-circle {
  height: 650px;
  padding-top: 10%;
  opacity: 0.7;
}

.service {
  margin: 0;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
}

.service-images {
  border-radius: 100%;
  height: 300px;
  padding-top: 3%;
}

.contact-banner {
  background: url('contact-image.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: -1;
}

.contact-circle {
  height: 600px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 0.7;
}

.contact-text {
  padding-left: 150px;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.contact-p {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
